In [1]:
import sqlite3
import pandas as pd
data=pd.read_csv("C:/Users/hp/Documents/Getting Started/ImportCSV/OTT_Movies.csv",encoding="ISO-8859-1",index_col=[0])
data.head()

,id,title,type,description,release_year,runtime,genres,production_countries,seasons,imdb_id,...,imdb_votes,tmdb_popularity,tmdb_score,streaming_service,main_genre,name,budget,nconst,primaryName,subscription_cost
0,tm100001,The Lucky Texan,MOVIE,"Jerry Mason, a young Texan, and Jake Benson, a...",1934,61,"['western', 'action', 'romance']",US,0.0,tt0025440,...,1213.0,4.079,4.700000,amazon,western,"['John Wayne', 'Barbara Sheldon', 'Lloyd Whitl...",0.0,nm0102908,Robert N. Bradbury,14.99 CAD / month
1,tm1000022,Boonie Bears: The Wild Life,MOVIE,Bear brothers Briar and Bramble set off on an ...,2021,99,"['scifi', 'animation']",CN,0.0,tt11654032,...,117.0,6.135,3.800000,amazon,scifi,"['Chris Boike', 'Nikki Stinson', 'Tan Xiao', '...",NaN,nm5694753,Leon Ding,14.99 CAD / month
2,tm1000169,Bad Cupid,MOVIE,Archie is a God on a mission to ensure that tr...,2021,81,"['romance', 'comedy']",US,0.0,tt11333938,...,181.0,3.295,4.800000,amazon,romance,"['John Rhys-Davies', 'Shane Nepveu', 'Briana M...",NaN,nm1526422,Diane Cossa,14.99 CAD / month
3,tm1000186,Carol's Christmas,MOVIE,Scrooge encounters the ghost of her late busin...,2021,70,"['drama', 'thriller']",US,0.0,tt13814142,...,48.0,0.600,5.989918,amazon,drama,[nan],NaN,nm5211977,David S Womack,14.99 CAD / month
4,tm1000203,Digging to Death,MOVIE,David Van Owen moves into a mysterious house a...,2021,96,"['horror', 'thriller']",US,0.0,tt7752100,...,464.0,3.543,5.800000,amazon,horror,"['Ford Austin', 'Tom Fitzpatrick', 'Rachel Ali...",NaN,nm3810788,Michael P. Blevins,14.99 CAD / month

In [2]:
data.columns=data.columns.str.strip()
data.columns=data.columns.str.replace(".","")
data.head()

,id,title,type,description,release_year,runtime,genres,production_countries,seasons,imdb_id,...,imdb_votes,tmdb_popularity,tmdb_score,streaming_service,main_genre,name,budget,nconst,primaryName,subscription_cost
0,tm100001,The Lucky Texan,MOVIE,"Jerry Mason, a young Texan, and Jake Benson, a...",1934,61,"['western', 'action', 'romance']",US,0.0,tt0025440,...,1213.0,4.079,4.700000,amazon,western,"['John Wayne', 'Barbara Sheldon', 'Lloyd Whitl...",0.0,nm0102908,Robert N. Bradbury,14.99 CAD / month
1,tm1000022,Boonie Bears: The Wild Life,MOVIE,Bear brothers Briar and Bramble set off on an ...,2021,99,"['scifi', 'animation']",CN,0.0,tt11654032,...,117.0,6.135,3.800000,amazon,scifi,"['Chris Boike', 'Nikki Stinson', 'Tan Xiao', '...",NaN,nm5694753,Leon Ding,14.99 CAD / month
2,tm1000169,Bad Cupid,MOVIE,Archie is a God on a mission to ensure that tr...,2021,81,"['romance', 'comedy']",US,0.0,tt11333938,...,181.0,3.295,4.800000,amazon,romance,"['John Rhys-Davies', 'Shane Nepveu', 'Briana M...",NaN,nm1526422,Diane Cossa,14.99 CAD / month
3,tm1000186,Carol's Christmas,MOVIE,Scrooge encounters the ghost of her late busin...,2021,70,"['drama', 'thriller']",US,0.0,tt13814142,...,48.0,0.600,5.989918,amazon,drama,[nan],NaN,nm5211977,David S Womack,14.99 CAD / month
4,tm1000203,Digging to Death,MOVIE,David Van Owen moves into a mysterious house a...,2021,96,"['horror', 'thriller']",US,0.0,tt7752100,...,464.0,3.543,5.800000,amazon,horror,"['Ford Austin', 'Tom Fitzpatrick', 'Rachel Ali...",NaN,nm3810788,Michael P. Blevins,14.99 CAD / month

In [5]:
conn=sqlite3.connect('Movies.db')
c=conn.cursor()
data.to_sql('Movies_Data',conn,if_exists="replace")

18719

In [6]:
c.execute("Select * from Movies_Data;")
data=pd.DataFrame(c.fetchall())
data.columns=[x[0] for x in c.description]
data

,index,id,title,type,description,release_year,runtime,genres,production_countries,seasons,...,imdb_votes,tmdb_popularity,tmdb_score,streaming_service,main_genre,name,budget,nconst,primaryName,subscription_cost
0,0,tm100001,The Lucky Texan,MOVIE,"Jerry Mason, a young Texan, and Jake Benson, a...",1934,61,"['western', 'action', 'romance']",US,0.0,...,1213.0,4.079,4.700000,amazon,western,"['John Wayne', 'Barbara Sheldon', 'Lloyd Whitl...",0.0,nm0102908,Robert N. Bradbury,14.99 CAD / month
1,1,tm1000022,Boonie Bears: The Wild Life,MOVIE,Bear brothers Briar and Bramble set off on an ...,2021,99,"['scifi', 'animation']",CN,0.0,...,117.0,6.135,3.800000,amazon,scifi,"['Chris Boike', 'Nikki Stinson', 'Tan Xiao', '...",NaN,nm5694753,Leon Ding,14.99 CAD / month
2,2,tm1000169,Bad Cupid,MOVIE,Archie is a God on a mission to ensure that tr...,2021,81,"['romance', 'comedy']",US,0.0,...,181.0,3.295,4.800000,amazon,romance,"['John Rhys-Davies', 'Shane Nepveu', 'Briana M...",NaN,nm1526422,Diane Cossa,14.99 CAD / month
3,3,tm1000186,Carol's Christmas,MOVIE,Scrooge encounters the ghost of her late busin...,2021,70,"['drama', 'thriller']",US,0.0,...,48.0,0.600,5.989918,amazon,drama,[nan],NaN,nm5211977,David S Womack,14.99 CAD / month
4,4,tm1000203,Digging to Death,MOVIE,David Van Owen moves into a mysterious house a...,2021,96,"['horror', 'thriller']",US,0.0,...,464.0,3.543,5.800000,amazon,horror,"['Ford Austin', 'Tom Fitzpatrick', 'Rachel Ali...",NaN,nm3810788,Michael P. Blevins,14.99 CAD / month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18714,18714,tm98062,The Quiz Show Scandal,MOVIE,Due to a massive car accident and a twist of f...,2010,121,['comedy'],KR,0.0,...,162.0,2.700,5.400000,rakuten,comedy,"['Han Jae-suk', 'Kim Su-ro', 'Ryu Seung-ryong'...",NaN,nm0151733,Jin Jang,4.99 CAD / month
18715,18715,tm985032,Motelier,MOVIE,"Yoo Da-hee, who graduated from the Department ...",2020,97,"['romance', 'comedy', 'drama']",KR,0.0,...,9.0,0.799,6.000000,rakuten,romance,"['Lee Ga-eun', 'Lee Ki-yong', 'Ahn Jong-sun', ...",NaN,nm12852441,Jeong Hoon Lee,4.99 CAD / month
18716,18716,tm989502,Wish You,MOVIE,"Singing and dreaming together, a talented sing...",2021,101,"['drama', 'music', 'romance']",KR,0.0,...,804.0,7.246,8.100000,rakuten,drama,"['Kang In-soo', 'Lee Sang', 'Park Soo-bin', 'B...",NaN,nm6296990,Do Joon Sung,4.99 CAD / month
18717,18717,tm994051,Double Patty,MOVIE,Kang Woo-ram is busy preparing to get a job. L...,2021,107,['drama'],KR,0.0,...,228.0,2.800,6.000000,rakuten,drama,"['Irene', 'Shin Seung-ho', 'Jung Young-ju', 'J...",NaN,nm12287234,Seung-Hwan Paek,4.99 CAD / month
18718,18718,tm99414,Le Grand Chef 2: Kimchi Battle,MOVIE,"""Le Grand Chef 2"" begins with the Korean presi...",2010,119,"['drama', 'comedy']",KR,0.0,...,219.0,2.920,6.300000,rakuten,drama,"['Kim Jung-eun', 'Jin Goo', 'Wang Ji-hye', 'Le...",0.0,nm3977937,Dong-hoon Baek,4.99 CAD / month

Showing all the Movies available on Amazon

In [7]:
c.execute("Select * from Movies_Data where streaming_service='amazon';")
data=pd.DataFrame(c.fetchall())
data.columns=[x[0] for x in c.description]
data

,index,id,title,type,description,release_year,runtime,genres,production_countries,seasons,...,imdb_votes,tmdb_popularity,tmdb_score,streaming_service,main_genre,name,budget,nconst,primaryName,subscription_cost
0,0,tm100001,The Lucky Texan,MOVIE,"Jerry Mason, a young Texan, and Jake Benson, a...",1934,61,"['western', 'action', 'romance']",US,0.0,...,1213.0,4.079,4.700000,amazon,western,"['John Wayne', 'Barbara Sheldon', 'Lloyd Whitl...",0.0,nm0102908,Robert N. Bradbury,14.99 CAD / month
1,1,tm1000022,Boonie Bears: The Wild Life,MOVIE,Bear brothers Briar and Bramble set off on an ...,2021,99,"['scifi', 'animation']",CN,0.0,...,117.0,6.135,3.800000,amazon,scifi,"['Chris Boike', 'Nikki Stinson', 'Tan Xiao', '...",NaN,nm5694753,Leon Ding,14.99 CAD / month
2,2,tm1000169,Bad Cupid,MOVIE,Archie is a God on a mission to ensure that tr...,2021,81,"['romance', 'comedy']",US,0.0,...,181.0,3.295,4.800000,amazon,romance,"['John Rhys-Davies', 'Shane Nepveu', 'Briana M...",NaN,nm1526422,Diane Cossa,14.99 CAD / month
3,3,tm1000186,Carol's Christmas,MOVIE,Scrooge encounters the ghost of her late busin...,2021,70,"['drama', 'thriller']",US,0.0,...,48.0,0.600,5.989918,amazon,drama,[nan],NaN,nm5211977,David S Womack,14.99 CAD / month
4,4,tm1000203,Digging to Death,MOVIE,David Van Owen moves into a mysterious house a...,2021,96,"['horror', 'thriller']",US,0.0,...,464.0,3.543,5.800000,amazon,horror,"['Ford Austin', 'Tom Fitzpatrick', 'Rachel Ali...",NaN,nm3810788,Michael P. Blevins,14.99 CAD / month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7870,7870,tm999622,45 Days to Be Rich,MOVIE,"After twenty years of separation, Jake and Joe...",2021,74,['comedy'],US,0.0,...,83.0,1.378,6.300000,amazon,comedy,"['Joe Piazza', 'JJ Hoss', 'Hani Bay', 'Andrew ...",NaN,nm8192394,Hani Bay,14.99 CAD / month
7871,7871,tm999872,Out of Time,MOVIE,"3 aliens, able to host different human bodies,...",2021,92,"['action', 'drama', 'scifi']",US,0.0,...,1191.0,6.576,5.500000,amazon,action,"['NadÃ¨ge August', 'Blake Boyd', 'Kurt Long', ...",NaN,nm2848315,Matt Handy,14.99 CAD / month
7872,7872,tm99988,Randy Rides Alone,MOVIE,Bandits lead by Matt the Mute enter a bar and ...,1934,53,"['western', 'action', 'romance']",US,0.0,...,1060.0,2.811,4.900000,amazon,western,"['John Wayne', 'Alberta Vaughn', ""George 'Gabb...",0.0,nm0292134,Harry L. Fraser,14.99 CAD / month
7873,7873,tm999885,God City Da Movie,MOVIE,"In the cold streets of Charlotte, where murder...",2020,86,['crime'],US,0.0,...,40.0,2.393,5.763592,amazon,crime,"['Mizz Beatisford', 'Bankkroll Ziggy', 'Checkm...",NaN,nm12046466,Muscle Trap,14.99 CAD / month
7874,7874,tm99996,The Owl and the Pussycat,MOVIE,"Meek, owlish Felix and strident, catty Doris l...",1970,95,"['comedy', 'romance']",US,0.0,...,3929.0,3.448,6.300000,amazon,comedy,"['Barbra Streisand', 'George Segal', 'Robert K...",0.0,nm0006889,Herbert Ross,14.99 CAD / month

Showing all the Movies having genre as Romance and released between 2012 and 2021

In [8]:
c.execute("Select * from Movies_Data where main_genre='romance' and (release_year between 2012 and 2021);")
data=pd.DataFrame(c.fetchall())
data.columns=[x[0] for x in c.description]
data

,index,id,title,type,description,release_year,runtime,genres,production_countries,seasons,...,imdb_votes,tmdb_popularity,tmdb_score,streaming_service,main_genre,name,budget,nconst,primaryName,subscription_cost
0,2,tm1000169,Bad Cupid,MOVIE,Archie is a God on a mission to ensure that tr...,2021,81,"['romance', 'comedy']",US,0.0,...,181.0,3.295,4.80000,amazon,romance,"['John Rhys-Davies', 'Shane Nepveu', 'Briana M...",NaN,nm1526422,Diane Cossa,14.99 CAD / month
1,30,tm1005301,Je te veux moi non plus,MOVIE,"Nina and Dylan, best friends since childhood, ...",2021,100,"['romance', 'comedy']",FR,0.0,...,284.0,37.919,5.70000,amazon,romance,"['InÃ¨s Reg', 'KÃ©vin Debonne', 'Laurie Peret'...",NaN,nm1211787,Rodolphe Lauga,14.99 CAD / month
2,87,tm1018055,Preetam,MOVIE,Preetam revolves around a milkman living in a ...,2021,132,['romance'],US,0.0,...,66.0,2.863,5.83271,amazon,romance,[nan],NaN,nm12317140,Sijo Rocky,14.99 CAD / month
3,129,tm1023507,"Love, Life & Pakodi",MOVIE,The film narrates the journey of a couple who ...,2021,114,['romance'],IN,0.0,...,4485.0,0.689,5.83271,amazon,romance,"['Akarsh Raj Bhagavathula', 'Kalajyothi', 'San...",NaN,nm11799960,Jayanth Gali,14.99 CAD / month
4,152,tm1028784,A Little Italian Vacation,MOVIE,A group of high school Seniors juggle between ...,2021,78,"['romance', 'comedy', 'drama']",US,0.0,...,340.0,3.686,7.00000,amazon,romance,"['James Tarpey', 'Emma Curtis', 'Andrew Tilt',...",NaN,nm2818748,Felipe Torres Urso,14.99 CAD / month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,18671,tm810496,JosÃ©e,MOVIE,"Young-seok, who feels overwhelmed and lonely i...",2020,117,"['romance', 'drama']",KR,0.0,...,625.0,44.290,7.70000,rakuten,romance,"['Han Ji-min', 'Nam Joo-hyuk', 'Jin Heo', 'Par...",NaN,nm2133235,Jong-kwan Kim,4.99 CAD / month
526,18682,tm824707,New Year Blues,MOVIE,This film tells about the twists and turns of ...,2021,114,"['romance', 'comedy']",KR,0.0,...,264.0,4.569,6.60000,rakuten,romance,"['Kim Kang-woo', 'Yoo In-na', 'Yoo Yeon-seok',...",NaN,nm9106804,Hong Ji-Young,4.99 CAD / month
527,18702,tm891689,Fox in Fuso,MOVIE,"It tells that after the shooting of Hou Yi, Ji...",2020,90,"['romance', 'fantasy']",CN,0.0,...,6.0,0.667,5.89322,rakuten,romance,"['Ma Sichao', 'Sun Yali', 'Wang Zitong', 'Ying...",NaN,nm10260231,Pan Ting,4.99 CAD / month
528,18711,tm939343,Sai Gon in the Rain,MOVIE,The story of youth and dream of people who fou...,2020,105,['romance'],VN,0.0,...,299.5,1.494,5.89322,rakuten,romance,"['LÆ°Æ¡ng Anh VÅ©', 'Há» Thu Anh', 'Há» Minh...",NaN,None,None,4.99 CAD / month
529,18715,tm985032,Motelier,MOVIE,"Yoo Da-hee, who graduated from the Department ...",2020,97,"['romance', 'comedy', 'drama']",KR,0.0,...,9.0,0.799,6.00000,rakuten,romance,"['Lee Ga-eun', 'Lee Ki-yong', 'Ahn Jong-sun', ...",NaN,nm12852441,Jeong Hoon Lee,4.99 CAD / month

Showing the count of all genre types of Movies in descending order

In [9]:
c.execute("Select main_genre, count(*) from Movies_Data group by main_genre order by count(*) desc;")
data=pd.DataFrame(c.fetchall())
data.columns=[x[0] for x in c.description]
data

       main_genre  count(*)
0           drama      4592
1          comedy      3412
2        thriller      2225
3   documentation      1812
4          horror      1227
5         romance      1079
6          action       929
7         fantasy       672
8         western       662
9           scifi       623
10          crime       576
11      animation       314
12         family       220
13          music       178
14        history        91
15            war        83
16          sport        16
17       european         6
18        reality         2